@import "tailwindcss";

@theme {
  --font-serif: var(--font-cormorant), Georgia, "Times New Roman", serif;
  --font-sans: var(--font-dm-sans), system-ui, -apple-system, sans-serif;

  --color-sand:        #F5EFE4;
  --color-cream:       #FAF7F2;
  --color-beige:       #E8DDD0;
  --color-warm-tan:    #C9B99A;
  --color-soft-brown:  #8B6F5E;
  --color-off-black:   #1A1612;
  --color-white-warm:  #FDFAF6;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAF7F2;
  color: #1A1612;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @import "react-calendar/dist/Calendar.css";
}
